body
  {
  margin: 10px 0px 0px 0px;
  padding: 0
  }

a {text-decoration: none}
a:link {color: #00A080}
a:visited{color: #00A080}
a:active {color: red}
a:hover {color: red}

#page_text
  {
  padding-right: 10px;
  padding-left: 10px;
  }

#menu
  {
  padding-left: 10px;
  padding-right: 50px;
  }


.menucell
  {
  /*background-color: #EEEEEE;
  width: 12%;
  text-align: center;
  padding: 5px;*/
  }

@media only screen and (min-width: 630px) 
  {
  #page_text_wrapper
    {
  /*
  margin: 0px 150px 0px 150px;
  padding: 1px 50px 50px 50px;
  background-color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  */
    float: left;
    width: 700px;

    }

  #menu_wrapper
    {
    float: left;
    width: 160px;
    }
  }



